/Fibinacci.class
/Fibonacci.class
/Mainfib.class
/MatrixEquality.class
/SquareCube.class
/SquareMultiple.class
/alterMatrix.class
/cart.class
/getfirstindexofarray.class
/item.class
/matadd.class
/sortarray.class
/tower.class
